.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#121212, #21154d);
}
.title{
    font-size: 55px;
    color: white;
    animation: flipTitle 2s;

}
@keyframes flipTitle{
    from{
        transform: rotatex(90deg);
    }
    to{
        transform: rotateX(0deg);
    }
    
}
.containerInput{
    background-color: rgba(255, 255, 255,0.2);
    padding: 15px;
    margin: 34px;
    display: flex;
    border-radius: 30px;
    box-shadow: 1px 3px 8px rgba(0,0,0,.5);
}
.containerInput input{
    background-color: transparent;
    border: 0;
    font-size: 20px;
    color: white;
    outline: none;
    margin-right: 8px;
    margin-left: 8px;   
}
.containerInput input::placeholder{
    color: rgb(218, 218, 218);
}
.searchLocation{
    background-color: transparent;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: transform 0.5s;
}
.searchLocation:hover{
    transform: scale(1.2);
}
.mainContent{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 450px;
    border-radius: 50px;
}

.mainContent h2{
    margin: 16px 0;
    font-size: 39px;
}
.mainContent p{
    margin-bottom: 16px;
    font-weight: bold;
}

@media (max-width: 620px){
    .title{
        font-size: 60px;
    }
    .mainContent{
        width: 80%;
        min-height: 250px;
    }
    .mainContent h2{
        font-size: 28px;
    }
}